<html>
    <head>
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="{{ url_for('static', filename='static/loginstyle.css')}}">
        <link rel="stylesheet" href="static/loginstyle.css">
    </head>
<body>
     <div class="container">
    <div class="card">
    <div class="inner-box" id="card">
    <div class="card-front">
          <h2>LOGIN</h2>
    <form>
        <input type="email" class="input-box" placeholder="your Email Id " required>
        <input type="password" class="input-box" placeholder="password" required>
        <button type="submit" class="submit-btn"><a href="home">submit</button>
        <input type="checkbox"><span>Remember Me</span>
    </form>
        <button type="button" class="btn"><a href="signin.html">I'm New Here</button>
    <a href="">Forget Password</a>
        </div>
        </div>
         </div>
    </div>
    </body>
</html>
        

    